/vendor
/node_modules
.env
.env.*
*.log
*.sqlite
.DS_Store
/storage/*.key
/public/storage
/storage/framework/cache
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/bootstrap/cache/
.idea
.vscode
Homestead.json
Homestead.yaml
.env
.env.backup
.phpunit.result.cache